#title-row {
    border-bottom-width: 3px;
border-bottom-style: solid;
margin-bottom: 20px;
text-align: center;
border-top-width: 3px;
border-top-style: solid;
border-left-width: 3px;
border-left-style: solid;
background-color: #f4c3ec;
}

#title {
    font-family: 'Monoton', cursive;
    padding-top: 5px;
    font-size: 50px;
}

.search-area {
border-left-width: 3px;
border-left-style: solid;
bottom: 0px;
top: 0px;
padding-top: 23px;
border-right-width: 3px;
border-right-style: solid;
border-top-width: 0px;
border-top-style: solid;
align-content: center;
}

#search-input {
    background-color: #bafca6;
    margin-top: -6px;
}



.background-pattern {
    background-image:url('https://media.giphy.com/media/26ufiA2rBXMnUihBS/giphy.gif');
}

.button-area {
    margin-bottom: 18px;
border-bottom-width: 3px;
border-bottom-style: solid;
padding-bottom: 18px;
border-left-width: 0px;
border-left-style: solid;
}

button {
    margin-right: 5px;
}

.array-button {
    background-color:#fff987;
}

.gifDiv {
    float: left;
    align-content: center;
    padding: 5px;
}

.gif {
    align-content: center;
}

p {
    text-align: center;
}